@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gradian {

  background-image: linear-gradient(to left, #020024, #687909, #00d4ff);
}


.text-gadient {
  background: -webkit-linear-gradient(#8e4225, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gadient {
  background-image: linear-gradient(to right, #7149b6, #7f44a4, #b300ff);
}


.left-1 {
  left: 20px;
}

.left-2 {
  left: 30px;
}

.left-3 {
  left: 40px;
}

.left-4 {
  left: 50px;
}

.left-5 {
  left: 60px;
}